@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap');

/* ANIMATION CSS */
html {
    scroll-behavior: smooth;
}

.animation {
    margin: 0;
    padding: 0;
}

.center {
    width: 100vw;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.img1 {
    position: absolute;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.5;
}

.pcenter {
    height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    z-index: 20;
    position: relative;
}

.parent {
    position: relative;
    width: 100%;
}

.phrase {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    font-weight: 800;
    position: absolute;
    opacity: 0; /* Start invisible */
    width: 100%; /* Ensure full width to center text */
    text-align: center; /* Center the text */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#phrase1 {
    top: -300%;
    left: 35%;
    transform: translateX(-50%);
    animation: fadeIn 1s ease forwards;
    animation-delay: 0s; 
}

#phrase2 {
    top: -100%;
    left: 58%;
    transform: translateX(-50%);
    animation: fadeIn 1s ease forwards;
    animation-delay: 2s;
}

#phrase3 {
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn 1s ease forwards;
    animation-delay: 4s; 
}

.button {
    grid-area: 2 / 1 / 3 / 2;
    width: 150px;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    background-color: #1DB954;
    border: 5px solid #1DB954;
    padding: 6px 12px;
    font-size: 25px;
    border-radius: 5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: black; 
    position: relative; 
    top: 220px; 
    opacity: 0; 
    animation: fadeIn 1s ease forwards;
    animation-delay: 6s; 
}

.button:hover {
    background-color: #149540; 
    border-color: #149540; 
}

.button a {
    color: black; 
    text-decoration: none; 
}

a:link, a:hover {
    text-decoration: none;
    color: black; 
}

/* APPLET CSS */
#applet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 250px 0;
}

.artist-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 30px 0;
}

/* Individual artist image styles */
#beyonce-img {
    width: 470px; /* Enlarged size */
    position: absolute;
    right: 8%; /* Positioned towards the right side */
    transition: transform 0.3s ease-in-out;
}

#harry-img {
    width: 320px; /* Enlarged size */
    position: absolute;
    left: 5%; /* Positioned further to the left side */
    transition: transform 0.3s ease-in-out;
}

#adele-img {
    width: 400px; /* Enlarged size */
    position: absolute;
    bottom: -300px;
    right: 2.5%; /* Positioned towards the right side */
    transition: transform 0.3s ease-in-out;
}

#drake-img {
    width: 750px; /* Enlarged size */
    position: absolute;
    left: -8%; /* Positioned further to the left side */
    transition: transform 0.3s ease-in-out;
}

.artist-text {
    color: #1DB954;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
}

#text-beyonce {
    font-size: 40px;
    transform: rotate(5deg);  /* Unique left tilt */
    right: 24%;  /* Adjusted position */
    bottom: 70px;
    position: absolute;

}
#text-harry {
    position: absolute;
    transform: rotate(-3deg);  /* Unique right tilt */
    bottom: 65px;  /* Adjusted position */
    left: 18%;  /* Adjusted position */
    font-size: 30px;
}

#text-adele {
    transform: rotate(-4deg);  /* Unique left tilt */
    position: absolute;
    bottom: -2px;  /* Adjusted position */
    right: 42%;  /* Adjusted position */
    font-size: 50px;
}

#text-drake {
    position: absolute;
    bottom: -450px;  /* Adjusted position */
    left: 24%;  /* Centered horizontally */

    font-size: 80px;
    width: 50%;  /* Limit the width to enhance text wrapping */
    text-align: center;
}

#connect {
    width: 40vh;
    position: relative;  /* Ensure it's relative if not already */
    bottom: -100px;  /* Lower the button */
}

/* Adjust the demo panel positioning */
#demo {
    width: 100vw;
    height: 100vh;
    font-weight: light;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -400px;  /* Reduce the gap */
}

#our-app {
    font-weight: inherit;
}

#in-action {
    margin-left: 7px;
}

.header {
    display: flex;
    margin-top: 30px;
}

.demo p {
    width: 40vw;
    margin-bottom: 0;
}

.pics {
    position: relative;
    top: 4vh;
}

.pics img {
    height: auto;
    max-width: 26vh; 
    margin: 50px;
    
}

.pics img:hover {
    box-shadow:
    0 0 50px 1px #fff,  /* inner white */
    0 0 50px 15px rgb(29, 185, 84); /* middle magenta */
    transition: 0.2s ease-in-out;
    transform: translateY(-5px);
}